/* Estilos para o layout geral */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  /* Estilos para o conteúdo principal */
  main {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  